{% extends "blog/default.html" %}
{% load i18n %}

{% block subnavigation %}
<nav>
<ul class="pager">
    {% if lsof_prev_day %}
    {% with lsof_prev_day|first as prev_day %}
    <li class="previous">
        <a href="{% url 'day_archive' year=prev_day.published|date:'Y' month=prev_day.published|date:'m' day=prev_day.published|date:'d' %}"
           aria-label="Previous day">
            <span aria-hidden="true">&laquo;</span>
            {{ prev_day.published|date:'SHORT_DATE_FORMAT' }}
        </a>
    </li>
    {% endwith %}
    {% endif %}
    {% if fsof_next_day %}
    {% with fsof_next_day|first as next_day %}
    <li class="next">
        <a href="{% url 'day_archive' year=next_day.published|date:'Y' month=next_day.published|date:'m' day=next_day.published|date:'d' %}"
           aria-label="Next month">
            {{ next_day.published|date:'SHORT_DATE_FORMAT' }}
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endwith %}
    {% endif %}
</ul>
</nav>
{% endblock %}
{% block content %}
{% if selected_posts %}
{% for post in selected_posts %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ post.topic }}
            {% for tag in post.tags.all %}
            <span class="badge">{{ tag }}</span>
            {% endfor %}
        </h3>
        <div class="postinfo">
            <div class="pull-right">{{ post.published|date:'SHORT_DATE_FORMAT' }} - {{ post.author }}</div>
        </div>
    </div>
    <div class="panel-body">
        {% autoescape off %}
        {{ post.content|truncatechars_html:125 }}
        {% endautoescape %}
        {% if post.content|length > 125 %}
        <p></p>
        <a class="pull-right" href="{% url 'detail' post_id=post.id %}">{% trans "Read more..." %}</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-warning" role="alert">
    {% blocktrans %}No posts available for selected day.{% endblocktrans %}
</div>
{% endif %}
{% endblock %}
{% block pagination %}
{% endblock %}