{% extends "blog/default.html" %}
{% load i18n %}

{% block content %}
{% if selected_posts %}
    {% for post in selected_posts %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{ post.topic }}</h3>
        <div class="postinfo">
          <div class="pull-right">{{ post.published }} - {{ post.author }}</div>
        </div>
      </div>
      <div class="panel-body">
        {% autoescape off %}
        {{ post.content|truncatechars:125|removetags:'div' }}
        {% endautoescape %}
        {% if post.content|length > 125 %}
        <p></p>
        <a class="pull-right" href="{% url 'detail' post_id=post.id %}">{% trans "Read more..." %}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-warning" role="alert">
    {% blocktrans %}
        Way too empty here. Better get your first post ready in-time.
    {% endblocktrans %}
    </div>
{% endif %}
{% endblock %}
{% block footer %}
<nav>
  <ul class="pagination">
    {% if current_page > 1 %}
    <li>
      <a href="{% url 'index' page=current_page|add:'-1' %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for page in page_count %}
    <li {% if current_page == page|add:'1' %} class='active' {% endif %}>
      <a href="{% url 'index' page=page|add:'1' %}">{{ page|add:'1' }}</a>
    </li>
    {% endfor %}
    {% if current_page < page_count|length %}
    <li>
      <a href="{% url 'index' page=current_page|add:'1' %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}