{% extends "blog/index.html" %}
{% load i18n %}
{% load l10n %}

{% block subnavigation %}
<ul class="nav nav-pills">
  <li role="presentation" class="pull-left">
      <a href="{% url 'month_archive' year=previous_month|date:'Y' month=previous_month|date:'m' %}" aria-label="Previous month">
          <span aria-hidden="true">&laquo;</span>
          {% with previous_month|date:'F' as month %}
           {% trans month %} {{ previous_month|date:'Y' }}
          {% endwith %}
      </a>
  </li>
  <li role="presentation" class="pull-right">
      <a href="{% url 'month_archive' year=next_month|date:'Y' month=next_month|date:'m' %}" aria-label="Next month">
          {% with next_month|date:'F' as month %}
           {% trans month %} {{ next_month|date:'Y' }}
          {% endwith %}
          <span aria-hidden="true">&raquo;</span>
      </a>
  </li>
</ul>
{% endblock %}
{% block pagination %}
  {% if current_page > 1 %}
  <li>
    <a href="{% url 'month_archive' year=selected|date:'Y' month=selected|date:'m' page=current_page|add:'-1' %}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  {% endif %}
  {% for page in page_count %}
  {% if current_page == page|add:'1' %}
  <li  class='active'>
  {% else %}
  <li>
  {% endif %}
    <a href="{% url 'month_archive' year=selected|date:'Y' month=selected|date:'m' page=page|add:'1' %}">{{ page|add:'1' }}</a>
  </li>
  {% endfor %}
  {% if current_page < page_count|length %}
  <li>
    <a href="{% url 'month_archive' year=selected|date:'Y' month=selected|date:'m' page=current_page|add:'1' %}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
  {% endif %}
{% endblock %}